---
import { Separator } from "@/components/ui/separator";
import Badge from "@/components/Badge.astro";
---

<section id="about" class="w-full min-h-[50vh] col-span-12">
  <h2 class="md:text-5xl text-3xl text-white font-bold mb-6">Sobre</h2>
  <div class="grid grid-rows-2 lg:grid-rows-1 lg:grid-cols-2 gap-20 mb-8">
    <div class="text-sm md:text-lg text-white/80 text-justify">
      <p>
        Considero o desenvolvimento de sistemas uma paixão. Durante minha
        graduação em Gestão da Tecnologia da Informação, por incentivo de
        colegas e professores iniciei meus estudos no mundo do desenvolvimento
        web. Apartir dai mergulhei de cabeça nos mais variados assuntos da área,
        me tornando um desenvolvedor Full Stack.
      </p>
      <p>
        Possuo um grande interesse em práticas que fomentem a qualidade dos
        sistemas, como testes automatizados, Clean Architecture, monitoramento e
        observabilidade. Durante minha carreira, tive a oportunidade de
        trabalhar em diversos projetos academicos e profissionais, o que me
        permitiu refinar minhas habilidades como desenvolvedor.
      </p>
      <Separator className="bg-[#39393962] my-8 rounded" />
      <h3 class="text-3xl text-white font-bold mb-6">Tech Stack</h3>
      <div class="flex flex-row gap-4 flex-wrap">
        <Badge>Typescript</Badge>
        <Badge>React</Badge>
        <Badge>NextJS</Badge>
        <Badge>Tailwind</Badge>
        <Badge>NodeJS</Badge>
        <Badge>Docker</Badge>
        <Badge>Express</Badge>
        <Badge>MySQL</Badge>
        <Badge>MongoDB</Badge>
      </div>
    </div>
  </div>
</section>
